<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/img/logo.svg">
		<title>Weather App | About</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
		<main>
			<header class="header">
				{{> header }}
			</header>

			<div class="about">
				<div class="about__person">
					<img src="/img/me.jpg" alt="developer">
				</div>
				<div class="about__description">
					<p>Hi! My name is Htet Phyo Naing. <br>I wrote this app using <span
							class="badge badge-green">Node.js</span>, <span class="badge badge-black"><a
								href="https://darksky.net" target="_blank">dark sky
								api</a></span> and <span class="badge badge-blue"><a href="https://mapbox.com"
								target="_blank">mapbox</a></span>.</p>
				</div>
			</div>
		</main>

		{{> footer }}

	</body>

</html>