<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/img/logo.svg">
		<title>Weather</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
		<main>
			<header class="header">
				{{> header }}
			</header>

			<form class="form">
				<label for="location" class="form__label">Type towns, city or country to see the weather forecast... </label>
				<input type="text" name="location" id="location" placeholder="location" class="form__input">
				<button class="form__button">Search</button>
			</form>
		</main>

		{{> footer }}

		<script src="/js/app.js"></script>
	</body>

</html>