<footer class="footer">
	<h6 class="footer__title margin-top-small">
		{{ footerTitle }}
	</h6>
	<span class="footer__mail margin-top-small">
		<a href="mailto:mr.htetphyonaing@gmail.com" target="_blank">
			<img src="/img/mail-me.svg" class="icon-mail icon-small" title="Email me" alt="Email me">
		</a>
	</span>
</footer>

<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>