<h1 class="header__title">
	{{ title }}
</h1>

<nav class="header__navbar margin-top-small">
	<ul>
		<li class="{{ home }}"><a href="/">Weather</a></li>
		<li class="{{ about }}"><a href="/about">About</a></li>
		<li class="{{ help }}"><a href="/help">Help</a></li>
	</ul>
</nav>